.resources__link {
  text-decoration: none;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
 
.resources__link:hover {
  opacity: .5;
}