.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.feynman__link:hover {
  opacity: .5;
}
  