.feynman {
    width: 100%;
    min-height: 890px;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-image:url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
}