.header {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    z-index: 1;
  }