.header__subtitle {
    max-width: 388px;
    width: 100%;
    position: absolute;
    left: 64px;
    bottom: 30px;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }