.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  z-index: 1;
}

.logo {
  width: 228px;
  height: 32px;
  padding: 0;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
}

.header__subtitle {
  max-width: 388px;
  width: 100%;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:link {
  text-decoration: none;
}

.header__link:visited {
  text-decoration: none;
  color: #696969;
}

.header__link:hover {
  text-decoration: none;
  color: #ff2400;
}

.header__link:active {
  text-decoration: underline;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 100px 0 0;
  width: 80%;
  min-width: 784px;
  min-height: 200px;
  background-color: #fff;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  display: flex;
  text-align: left;
  color: #2f80ed;
  margin: 0;
  max-width: 175px;
  width:100%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 1000px;
}

.list-style-none {
  list-style: none;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.digits {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.section-title_theme_light {
  margin: 100px 0 0;
}

.section-subtitle {
  width: 60%;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.section-subtitle-theme-light {
  margin: 20px 0 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 1100px;
}

.table_theme_light {
  margin: 0 auto 100px;
}

.table__cell {
  width: 100%;
}

.table__cell_theme_light {
  max-width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  width: 100%;
  min-height: 890px;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 100px 0 70px;
  max-width: 648px;
  width: 100%;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:link {
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:visited {
  text-decoration: none;
  color: #696969;
}

.feynman__link:hover {
  text-decoration: none;
  color: #ff2400;
}

.feynman__link:active {
  text-decoration: underline;
}

.feynman_img {
  background-image:url('../images/feynman.png');
  background-size: cover;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
}

.kaufman {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  z-index: 1;
}

.section-title__theme_dark {
  margin: 90px 0 0;
  color: #fff;
}

.section-subtitle__theme_dark {
  margin: 20px 0 0;
  color: #fff;
}

.table__theme_dark {
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  max-width: 200px;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  background-image:url('../images/kaufman-triangle.svg');
  background-size: cover;
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  z-index: -1;
}

.footer {
  display: flex;
  color: #fff;
  width: 100%;
  min-height: 350px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
  padding: 0;
  width: 90%;
}

.footer__column_content_copyright {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-basis: 711px;
}

.logo_place_footer {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  padding: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0 0 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:link {
  text-decoration: none;
  color: #fff;
}

.footer__column-link:visited {
  text-decoration: none;
  color: #696969;
}

.footer__column-link:hover {
  text-decoration: none;
  color: #ff2400;
}

.footer__column-link:active {
  text-decoration: underline;
}

.footer__column_content_social {
  padding: 0;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
}